[
 ;; user

{:db/id #db/id[:db.part/db]
:db/ident :user/publicId
:db/valueType :db.type/uuid
:db/cardinality :db.cardinality/one
:db/unique :db.unique/identity
:db/doc "UUID for user entity"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/email
:db/valueType :db.type/string
:db/cardinality :db.cardinality/one
:db/unique :db.unique/identity
:db/doc "Users email"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/fullName
:db/valueType :db.type/string
:db/cardinality :db.cardinality/one
:db/fulltext true
:db/doc "Full name of user"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/phone
:db/valueType :db.type/string
:db/cardinality :db.cardinality/one
:db/doc "Users phone number"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/password
:db/valueType :db.type/string
:db/cardinality :db.cardinality/one
:db/doc "Password. Obviously not in clear text!"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/enabled
:db/valueType :db.type/boolean
:db/cardinality :db.cardinality/one
:db/doc "Is the user enabled?"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/accountExpired
:db/valueType :db.type/boolean
:db/cardinality :db.cardinality/one
:db/doc "Has the account expired?"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/accountLocked
:db/valueType :db.type/boolean
:db/cardinality :db.cardinality/one
:db/doc "Is account locked?"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/passwordExpired
:db/valueType :db.type/boolean
:db/cardinality :db.cardinality/one
:db/doc "Has password expired?"
:db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
:db/ident :user/role
:db/valueType :db.type/ref
:db/cardinality :db.cardinality/many
:db/doc "Role reference"
:db.install/_attribute :db.part/db}

;; Role

{:db/id #db/id[:db.part/db]
:db/ident :role/authority
:db/valueType :db.type/string
:db/cardinality :db.cardinality/many
:db/unique :db.unique/identity
:db/doc "User role"
:db.install/_attribute :db.part/db}

]